* {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    background-color: #e9ddc7;
    /* border: 1px solid red; */
}

hr {
    width: 70%;
}

html, body {
    height: 100%;
}

#container {
    text-align: center;
}

#grid-container {
    display: flex;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.squares {
    border: 2px solid #a3a990;
    color: #a3a990;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    min-height: 50px
}

#keyboard-container {
    height: 200px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 30%;
    margin: 0 auto;
}

.keyboard-row button {
    border: 0;
    padding: 0;
    height: 50px;
    flex-grow: 1;
    margin-right: 6px;
    border-radius: 4px;
    background-color: #a3a990;
    border-radius: 10px;
}

[data-key]  {
    color: #e9ddc7;
}

